@import url(https://fonts.googleapis.com/css?family=Oswald|Open+Sans);
a {
  color: white;
  font-size: 4.3em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
a:hover {
  background-color: #FA3719;
  transition: ease .2s;
}
.active {
  display: block;
}
body {
  font-family: 'open sans', sans-serif;
  margin: auto;
  padding: 0px;
}
#donation {
  background-color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}
#donation .donate-text {
  margin: auto;
  width: 75%;
  padding: 45px 0 0 0;
}
#donation .donate-text ul {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  margin-left: 50px;
}
#donation .donate-form {
  margin: auto;
  margin-top: 10px;
  width: 75%;
  font-size: 1.2em;
}
#donation .donate-form .form-fields {
  width: 200px;
  padding: 2px 0 2px 2px;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}
#donation .donate-form input {
  display: block;
  float: left;
  width: 70%;
}
#donation .donate-form label {
  display: block;
  margin-right: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.7em;
  float: left;
  width: 30%;
}
#donation .donate-form li {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
#donation .donate-form .radio-btns {
  float: none;
}
#donation .donate-form .radio-btns ul label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}
#donation .donate-form .submit-btn {
  background-color: #FA3719;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 2.3em;
  padding: 20px 35px 20px 35px;
  float: right;
  text-align: right;
  border: none;
}
#donation .donate-form .submit-btn:hover {
  color: #FA3719;
  background-color: white;
  transition: ease .2s;
}
#donation .donate-form #input-message {
  padding: 20px;
  margin: 20px;
}
#donation:after {
  content: '';
  clear: both;
  display: block;
}
footer {
  background-color: #42a7cc;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
footer a:hover {
  background-color: #FA3719;
}
footer .learn-more-btn {
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
footer .learn-more-btn img {
  width: 50px;
  position: relative;
  top: 8px;
}
footer .next-btn {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 20px;
  text-align: right;
}
footer .next-btn img {
  width: 50px;
  position: relative;
  top: 8px;
}
footer .prev-btn {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 20px;
}
footer .prev-btn img {
  width: 50px;
  position: relative;
  top: 8px;
}
h1 {
  background-image: url("images/logo-long.png");
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  width: 410px;
  height: 95px;
  text-indent: -9999px;
  margin-left: 10px;
}
h2 {
  text-transform: uppercase;
  font-size: 6.2em;
  font-family: 'Oswald', sans-serif;
}
header {
  background-color: #42a7cc;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header img {
  width: 200px;
}
.hide {
  display: none;
}
html {
  background-color: #42a7cc;
  font-size: 62.5%;
}
#landing {
  background-image: url("images/p1.jpg");
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  line-height: 1.9em;
}
#page-1 {
  background-image: url("images/p2.jpg");
}
#page-2 {
  background-image: url("images/p3.jpg");
}
#page-3 {
  background-image: url("images/p4.jpg");
}
.panel {
  position: relative;
  display: none;
  margin: 50px 0 0 0;
  padding: 0 0 100px 0;
}
.panel.active {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  display: block;
}
.panel .panel-text {
  margin: auto;
  width: 75%;
  color: white;
  padding: 45px 0 0 0;
}
.panel .panel-text h2 {
  margin-bottom: 0px;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media only screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin: auto;
  }
  #donation {
    background-color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
  }
  #donation .donate-text {
    float: left;
    margin-left: 100px;
    width: 75%;
    padding: 45px 0 0 0;
  }
  #donation .donate-text ul {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;
  }
  #donation .donate-form {
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 1.2em;
  }
  #donation .donate-form .form-fields {
    width: 200px;
    padding: 10px 0 0 2px;
  }
  #donation .donate-form input {
    display: inline;
  }
  #donation .donate-form label {
    display: inline;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
  }
  #donation .donate-form li {
    text-align: right;
    margin-bottom: 20px;
  }
  #donation .donate-form .submit-btn {
    background-color: #FA3719;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.3em;
    padding: 20px 35px 20px 35px;
    float: right;
    text-align: right;
    border: none;
  }
  #donation .donate-form .submit-btn:hover {
    color: #FA3719;
    background-color: white;
    transition: ease .2s;
  }
  #donation footer {
    width: 100%;
  }
  #donation footer ul {
    width: 1200px;
    margin: auto;
  }
  #donation footer .next-btn {
    width: 300px;
    padding: 20px;
    float: right;
    text-align: right;
  }
  #donation footer .prev-btn {
    width: 300px;
    padding: 20px;
  }
}
@media only screen and (max-width: 1080px) {
  h1 {
    background-image: url("images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    width: 205px;
    height: 95px;
    text-indent: -9999px;
  }
}
@media only screen and (max-width: 1079px) {
  .panel .panel-text {
    width: 70%;
  }
}
@media only screen and (max-width: 789px) {
  h1 {
    background-image: url("images/logo-small.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    width: 125px;
    height: 95px;
    text-indent: -9999px;
  }
  .panel .panel-text {
    width: 85%;
  }
}
@media only screen and (max-width: 491px) {
  h1 {
    background-image: url("images/logo-small.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    width: 70px;
    height: 57px;
    text-indent: -9999px;
  }
  h2 {
    font-size: 5em;
    margin-top: 20px;
  }
  .panel .panel-text {
    width: 90%;
  }
  footer .learn-more-btn {
    font-size: 2.4em;
  }
  footer .learn-more-btn img {
    width: 30px;
    top: 4px;
  }
  footer .next-btn {
    font-size: 2.4em;
  }
  footer .next-btn img {
    width: 30px;
    top: 4px;
  }
  footer .prev-btn {
    font-size: 2.4em;
  }
  footer .prev-btn img {
    width: 30px;
    top: 4px;
  }
  #donation .donate-text {
    width: 90%;
  }
  #donation .donate-form {
    margin: auto;
    margin-top: 10px;
    width: 75%;
    font-size: 1.2em;
  }
  #donation .donate-form .form-fields {
    width: 80%;
    padding: 10px 0 0 2px;
  }
  #donation .donate-form input {
    display: block;
  }
  #donation .donate-form .radio-btns {
    float: none;
  }
  #donation .donate-form label {
    display: block;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
  }
  #donation .donate-form li {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  #donation .donate-form .submit-btn {
    background-color: #FA3719;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.3em;
    float: left;
    text-align: center;
    width: 100%;
    border: none;
  }
  #donation .donate-form .submit-btn:hover {
    color: #FA3719;
    background-color: white;
    transition: ease .2s;
  }
  #donation .donate-form #input-message {
    padding: 20px;
    width: 100%;
  }
}
