@import url(https://fonts.googleapis.com/css?family=Oswald|Open+Sans);
a {
  color: white;
  font-size: 4.3em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
.active {
  display: block;
}
body {
  font-family: 'open sans', sans-serif;
  margin: auto;
  padding: 0px;
}
#donation {
  background-color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}
#donation .donate-text {
  margin: auto;
  width: 75%;
  padding: 45px 0 0 0;
}
footer {
  background-color: #42a7cc;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
footer a:hover {
  background-color: red;
}
footer .learn-more-btn {
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
footer .learn-more-btn img {
  width: 50px;
  position: relative;
  top: 8px;
}
footer .next-btn {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 20px;
  text-align: right;
}
footer .next-btn img {
  width: 50px;
  position: relative;
  top: 8px;
}
footer .prev-btn {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 20px;
}
footer .prev-btn img {
  width: 50px;
  position: relative;
  top: 8px;
}
h1 {
  background-image: url("images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  width: 190px;
  height: 95px;
  text-indent: -9999px;
}
h2 {
  text-transform: uppercase;
  font-size: 6.2em;
  font-family: 'Oswald', sans-serif;
}
header {
  background-color: #42a7cc;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header img {
  width: 200px;
}
.hide {
  display: none;
}
html {
  background-color: #42a7cc;
  font-size: 62.5%;
}
#landing {
  background-image: url("images/p1.jpg");
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
  line-height: 1.9em;
}
#page-1 {
  background-image: url("images/p2.jpg");
}
#page-2 {
  background-image: url("images/p3.jpg");
}
#page-3 {
  background-image: url("images/p4.jpg");
}
.panel {
  position: relative;
  display: none;
  margin: 50px 0 0 0;
  padding: 0 0 100px 0;
}
.panel.active {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  display: block;
}
.panel .panel-text {
  margin: auto;
  width: 75%;
  color: white;
  padding: 45px 0 0 0;
}
.panel .panel-text h2 {
  margin-bottom: 0px;
  text-align: center;
}
nav li {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
nav li .btn-nav {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000;
  position: relative;
  left: 50%;
  margin-left: -10px;
  margin-right: 20px;
}
nav li .btn-nav:hover {
  background-color: red;
  nav-label: display:block;
}
nav li .nav-label {
  background-color: white;
  padding: 5px 20px 5px 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  border-radius: 10px;
  position: relative;
  display: block;
}
nav li .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  left: 50%;
  margin-left: -10px;
  margin-bottom: 10px;
  position: relative;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media only screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin: auto;
  }
  footer {
    width: 100%;
  }
  footer ul {
    width: 1200px;
    margin: auto;
  }
  footer .next-btn {
    width: 300px;
    padding: 20px;
    float: right;
    text-align: right;
  }
  footer .prev-btn {
    width: 300px;
    padding: 20px;
  }
}
